- job-template:
    name: 'operations-apache-config-lint'
    defaults: use-remoteonly-zuul
    # only works there cause it needs mod_rewrite which is not on other slaves
    # apparently.
    node: gallium

    triggers:
     - zuul

    builders:
     # Snapshot operations/mediawiki-config.git which contains
     # the Apache document roots.
     - shell: |
        git archive \
            --remote=/srv/ssd/gerrit/operations/mediawiki-config.git \
            --prefix=mediawiki-config/ \
            master \
            | ( cd "$WORKSPACE" && tar xf -)

     - shell: |
        echo "Regenerating redirects.conf should not have changed"
        ./refreshDomainRedirects

        set +e
        git diff --color=always --exit-code
        HAS_CHANGE=$?
        set -e

        if [ $HAS_CHANGE -ne 0 ]; then
            echo "Generated redirects.conf does not match the one proposed"
            exit 1
        else
            echo "Generated redirects.conf match the one proposed"
            echo "Continuing.."
        fi

     - shell: |
        /bin/sed -i s%/etc/apache2/[^/]*/%% *.conf
        /bin/sed -i s%/usr/local/apache/conf/%% *.conf
        /bin/sed -i s%/usr/local/apache/common/%$WORKSPACE/mediawiki-config/% *.conf
        /usr/sbin/apache2 -t \
            -d "$WORKSPACE" \
            -C 'Include /etc/apache2/mods-enabled/*.load' \
            -C 'Include /etc/apache2/mods-enabled/*.conf' \
            -C 'Include /etc/apache2/mods-available/expires.load' \
            -f all.conf

- project:
    name: 'operations-apache-config'

    jobs:
     - operations-apache-config-lint
