# http_proxy
#
# To speed up Debian packages fetches, one might want to use apt-cacher-ng.
# When set, it will is passed to docker build and it is then recognized by
# apt-get.
#
# Set it to the Docker bridge IP or your host IP
#
#http_proxy=http://172.17.0.1:3142
