#
# MariaDB extra settings for Stretch
#

[client]
# Stretch defaults to utf8mb4. T193222
default-character-set = binary


[mysqld]

# Stretch defaults to utf8mb4. T193222
character_set_server     = binary
character_set_filesystem = binary
collation_server         = binary

# Stricter mode T119371
# Note: should also be set in MediaWiki via $wgSQLMode
sql_mode = 'TRADITIONAL'
