Package: golang
Depends: ci-stretch
Description: base image for building go applications.
 Uses the same interface as the dockerhub images, but defaults to
 using the go packages from Debian.
Maintainer: Giuseppe Lavagetto <glavagetto@wikimedia.org>
